@import "tailwindcss";

@theme {
  --color-primary: var(--color-blue-600);
  --color-primary-hover: var(--color-blue-700);

  --color-background: var(--color-white);
  --color-foreground: var(--color-slate-900);
}

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

/* Base custom utility for text gradient */
@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-blue-400;
  }
}